@import url("index.css");

:root {
	--bg:		#0e2624;
	--fg:		#fffff7;
	--title:	#b0f4c5;
	--hl:		#78ffff;
	--black:	#1b4b47;
	--red:		#e67e80;
	--green:	#b0f4c5;
	--yellow:	#ffffcf;
	--blue:		#5EA8AE;
	--magenta:	#d699b6;
	--cyan:		#1b4b39;
}

body { background-image: url("img/12.png"); }
